.change-form{
  width: 50%;

}
.new-thinking{
  position: relative;
  left: 30%;
  width: 70%;

}

.delete-thinking{
  position: relative;
  left: 30%;
  width: 70%;

}

.left-bloack{
  position: relative;
  width: 40%;
}
.book-note{
  position: relative;
  float: left;
  width: 75%;
}
.recent-thinking{
  position: relative;
  float: left;  
  width: 25%;
}